In [17]:
#necessary imports 
import tensorflow as tf
from tensorflow import keras
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf
import sklearn

In [2]:
#print(tf.__version__)

#the model will be trained on apples stock data

apple_data = yf.download('AAPL',start='2020-05-01',end='2024-05-01')

apple_data.head()

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-05-01  71.562500  74.750000  71.462502  72.267502  70.387001  240616800
2020-05-04  72.292503  73.422501  71.580002  73.290001  71.382889  133568000
2020-05-05  73.764999  75.250000  73.614998  74.389999  72.454269  147751200
2020-05-06  75.114998  75.809998  74.717499  75.157501  73.201805  142333600
2020-05-07  75.805000  76.292503  75.492500  75.934998  73.959068  115215200

In [3]:
apple_data.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [5]:
apple_data.isin(['?']).sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [14]:
apple_data.isin(['NaN']).sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [12]:
apple_data.duplicated

<bound method DataFrame.duplicated of                   Open        High         Low       Close   Adj Close  \
Date
2020-05-01   71.562500   74.750000   71.462502   72.267502   70.387001
2020-05-04   72.292503   73.422501   71.580002   73.290001   71.382889
2020-05-05   73.764999   75.250000   73.614998   74.389999   72.454269
2020-05-06   75.114998   75.809998   74.717499   75.157501   73.201805
2020-05-07   75.805000   76.292503   75.492500   75.934998   73.959068
...                ...         ...         ...         ...         ...
2024-04-24  166.539993  169.300003  166.210007  169.020004  168.791061
2024-04-25  169.529999  170.610001  168.149994  169.889999  169.659882
2024-04-26  169.880005  171.339996  169.179993  169.300003  169.070679
2024-04-29  173.369995  176.029999  173.100006  173.500000  173.264984
2024-04-30  173.330002  174.990005  170.000000  170.330002  170.099289

               Volume
Date
2020-05-01  240616800
2020-05-04  133568000
2020-05-05  147751200
2020-05-06  142333600
2020-05-07  115215200
...               ...
2024-04-24   48251800
2024-04-25   50558300
2024-04-26   44838400
2024-04-29   68169400
2024-04-30   65934800

[1006 rows x 6 columns]>

In [13]:
apple_data.isnull().sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [16]:
#filing the missing values (no missing values in this data)
apple_data.fillna(apple_data.ffill(),inplace= True)

In [19]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(apple_data['Close'].values.reshape(-1,1))